table {
    width: 80%;
    margin-left: 0; /* Align table to the left */
    border-collapse: collapse;
    border: 2px solid skyblue;
    table-layout: auto;
    overflow-x: auto; /* This will handle the horizontal scroll if needed */
}

table caption {
    font-style: italic;
    color: skyblue;
    font-size: 13px;
}

th, td {
    text-align: left;
    padding: 10px;
    border: none;
}

thead {
    background-color: skyblue;
    color: white; /* Optional: change text color in table header */
}

tbody tr:hover {
    background-color: white; /* Highlights the table row on mouse over */
}

.centered-link-container {
    display: flex;
    margin-top: 100px; 
}

.centered-link-container button {
    color: white; 
    background-color: skyblue; 
    font-size: 18px; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

th:first-child, td:first-child {
    max-width: 300px; 
    white-space: normal; 
    overflow: visible;
}


@media screen and (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto; /* Show horizontal scroll bar on narrow screens */
    }
}